a.btn{
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  line-height: 40px;
}

.btn{
  height: 40px;
  padding: 0 25px;
  border-radius: 2px;
  border: none;
  background: $blue-color;
  font-size: 14px;
  color: #FFF;
  transition: all .2s;
  box-shadow: inset 0 10px 20px rgba(255,255,255,.05), 0 2px 4px rgba(0,0,0,.4);
  cursor: pointer;

  &:focus,
  &:hover{
    background: lighten($blue-color, 10);
  }

  &:active{
    background: darken($blue-color, 5);
    box-shadow: inset 0 -10px 20px rgba(255,255,255,.05), 0 0 2px rgba(0,0,0,.4);
  }

  &.btn-gray{
    background: #CCC;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.2);

    &:focus,
    &:hover{
      background: #AAA;
      box-shadow: 0 7px 10px -5px rgba(0,0,0,0.2);
    }
  }

  .svg-icon{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: -.2em;
    fill: #FFF;
    line-height: 1em;

    &.svg-icon-left{
      margin-right: 5px;
    }

    &.svg-icon-right{
      margin-left: 5px;
    }
  }
}