input,
select,
textarea{
  font-family: inherit;
}

select{
  cursor: pointer;
}

.input-set{
  min-height: 50px;
  margin-bottom: 15px;

  &.input-set-inline{
    height: 50px;
    font-size: 0;

    > *{
      display: inline-block;
      vertical-align: top;
    }

    .btn{
      height: 50px;
    }
  }

  .status-text{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: #AAA;
    text-shadow: 1px 1px #FFF;
  }

  .icon{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: -50px;
    z-index: 1;

    & + .input {
      padding-left: 55px;
    }
  }

  &.icon-insert{
    .icon{
      position: relative;
      z-index: 1;
      margin-right: -50px;
      background: none;
      box-shadow: none;
    }
    .input{
      padding-left: 55px;
    }
  }
}

.input{
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 300;
  background: $input-default-color;
  border: 1px solid $input-border-color;
  transition: all .2s;
  border-radius: $input-border-radius;

  &:focus{
    background: $input-active-color;
    box-shadow: 0 10px 15px -5px transparentize(darken($input-active-color, 60), .8);
  }

  &.input-error{
    border-color: $danger-color;
    color: $danger-color;

    & + .status-text{
      color: $danger-color;
    }
  }
}

textarea.input{
  padding: 10px;
  resize: vertical;
  min-height: 100px;
}

.select{
  border: none;
  border-bottom: 2px solid #EEE;
  font-weight: 600;
  color: #666;
  transition: all .2s;

  &:hover{
    color: #000;
    border-color: #FFF;
  }
}

.input-block{
  display: block;
  width: 100%;
  text-align: center;
}