.modal {
  display: none;
}

.vanilla-modal{
  .modal {
    display: block;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    & > * {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
    }

    &:before {
      display: inline-block;
      overflow: hidden;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  &.modal-visible{
    .modal {
      z-index: 99;
      opacity: 1;
      transition: opacity 0.2s;
    }
  }

  .modal-inner {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
  }

  .modal-content{
    padding: 15px;
  }
}

.modal-inner {
  position: relative;
  min-width: 350px;
  margin: 5px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

[data-modal-close] {
  z-index: 2;
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  padding: 15px;
  background: #FAFAFA;
  transition: all .2s;

  svg{
    width: 100%;
    height: 100%;
    fill: #000;
    opacity: .5;
    transition: all .2s;
  }

  &:hover{
    background: #EEE;
    svg{
      opacity: 1;
    }
  }
}