$circle-size: 30px;
$animations: true;

.notification{
  position: relative;
  text-align: center;
  padding: 15px;
  margin-bottom: 25px;
  background: #FAFAFA;
  box-shadow: 1px 1px 12px rgba(0,0,0,.01);
  border-radius: 2px;
  font-size: 12px;
  color: $info-color;

  &:after{
    @include full-screen($circle-size, $circle-size, 0, 0, true);
    margin: -($circle-size/2);
    border-radius: 2px;
    background: $info-color url($dir + '/img/info.svg ') no-repeat center / 65%;
    box-shadow: -1px 5px 10px rgba(0,0,0,.1)
  }

  @if($animations){
    transition: all .2s;

    &.hide{
      display: block;
      opacity: 0;
      height: 0;
      padding: 0 15px;
      margin-bottom: 0;
    }
  }

  &.danger{
    color: $danger-color;

    &:after{
      background-color: $danger-color;
    }
  }

  &.success{
    color: $success-color;

    &:after{
      background-color: $success-color;
      background-image: url($dir + '/img/success.svg');
    }
  }
}