.pagination{
  text-align: center;

  > a {
    display: inline-block;
    padding: 10px;
    background: #EEE;
    color: #444;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    transition: all .2s;

    &.next{
      font-weight: 500;
      padding: 10px 25px;
    }

    &:hover{
      background: #DDD;
      color: #222;
    }

    &.active{
      color: #FFF;
      background: #DDD;
      font-weight: 600;
    }
  }
}