$blue-color: #17255A;
$red-color: #920101;

$info-color: #6498DB;
$danger-color: #DB7564;
$success-color: #64DB8F;

// Inputs
$input-default-color: #F5F5F5;
$input-active-color: lighten($input-default-color, 2);