@charset "UTF-8";

@import "additions/mixins";

@import "variables";
@import "colors";

@import url($dir + "/fonts/roboto/roboto.css");

html{
  box-sizing: border-box;
}

*{
  box-sizing: inherit;

  *:before,
  *:after{
    box-sizing: border-box;
  }
}

