@mixin content-box($borderPosition:null){
  box-shadow: 0 2px 25px rgba(0,0,0,.05);
  background: #FFF;

  $color: #DDD;

  @if($borderPosition == 't'){
    border-top: 1px solid $color;
  }

  @elseif($borderPosition == 'b'){
    border-bottom: 1px solid $color;
  }

  @elseif($borderPosition == null){
    border: 1px solid $color;
  }
}

body{
  background: #EEE;
}

#header{
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  @include content-box('b');
  z-index: 1;

  .logo{
    width: 200px;
    border-right: 1px solid #EEE;

    img{
      max-width: 100%;
      max-height: 50px;
    }
  }

  .nav{
    position: relative;
    height: 100%;
    line-height: 100px;
    font-size: 0;
    margin-left: 50px;

    li{
      display: inline-block;
      vertical-align: top;
    }

    a{
      display: block;
      padding: 0 25px;
      color: #333;
      text-decoration: none;
      font-size: 16px;
      transition: opacity .2s;

      &:hover{
        opacity: .8;
      }

      &.active{
        opacity: 1;
        font-weight: 600;
      }
    }

    .num{
      display: inline-block;
      vertical-align: middle;
      min-width: 20px;
      line-height: 20px;
      padding: 0 4px;
      font-size: 12px;
      background: #333;
      text-align: center;
      color: #FFF;
      border-radius: 2px;
      margin-left: 10px;
    }

    .active-cursor{
      position: absolute;
      bottom: 0;
      height: 5px;
      background: #333;
      transition: all .2s;
    }
  }

  .profile{
    position: relative;
    margin-left: auto;

    .menu{
      transform-origin: top center;
      @include full-screen(200px, auto, 0, 100%, true);
      padding-top: 15px;
      transform: scaleY(0);
      opacity: 0;
      transition: all .2s;

      ul{
        padding: 15px;
        background: #FAFAFA;
        box-shadow: 0 2px 15px -5px rgba(0,0,0,.2);
      }

      a{
        display: block;
        text-decoration: none;
        color: #AAA;
        padding: 10px;
        border-bottom: 1px solid #EEE;
        transition: all .2s;

        &:hover{
          color: #333;
        }
      }

      &:before{
        content: '';
        @include full-screen(auto, auto, 15px, 5px, true);
        border-style: solid;
        border-width: 0 15px 10px 15px;
        border-color: transparent transparent #fafafa transparent;
      }
    }

    &:hover .menu{
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

#wrap{
  @include full-screen(100%, auto);
  min-height: 100%;
  padding: 125px 0 40px;
  overflow: auto;
}

#sidebar{
  float: left;
  width: 250px;
  padding: 0 25px;

  .nav-box{
    @include content-box;
    border-radius: 2px;
    margin-bottom: 15px;

    .box-title,
    .links a{
      display: block;
      text-decoration: none;
      color: #333;
      line-height: 35px;
      padding: 0 15px;
      @include no-wrap;
      transition: all .2s;
    }

    .box-title{
      font-size: 12px;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      background: #DDD;
      color: #FFF;
    }

    .links a:hover{
      background: #EEE;
    }

    .links a.active{
      border-left: 2px solid #AAA;
      background: #FAFAFA;
    }

  }
}

#content{
  padding: 15px;
  margin: 0 25px 25px 250px;
  @include content-box;
  border-radius: 2px;
}

#footer{
  @include full-screen(100%, 40px, 0, 0, false, true);
  @include content-box('t');
  line-height: 39px;
  text-align: center;
}