// laracms directory
$dir: '/laracms';

// Font
$font-family: 'Roboto', 'Helvetica', 'Sans', 'Trebuchet MS';
$font-size: 14px;
$font-color: #444;

// Inputs
$input-font-size: 12px;
$input-border-radius: 2px;
$input-border-color: #DDD;

// Other
$sidebar-width: 250px;