@import "variables";
@import "form";

.head-panel{
  display: flex;
  align-items: center;
  color: #AAA;

  .module-name{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px solid #EEE;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .num{
    margin: 0 10px;
  }

  .search-form{
    margin-right: 15px;
  }

  .amount{
    margin: 0 5px;
    font-weight: 500;
  }

  .btn-add{
    margin-left: auto;
  }
}

.module-data{
  margin-top: 15px;

  .col-id{
    width: 40px;
    text-align: center;
  }

  .col-date{
    width: 150px;
    font-size: 12px;
    color: #AAA;
  }
}

#data-form{
  width: 750px;
  max-width: 100%;
}