@mixin full-screen($width:100%, $height:100%, $x:0, $y:0, $reverse-x:false, $reverse-y:false){
  position: absolute;
  @if($width != auto){ width: $width; }
  @if($height != auto){ height: $height; }
  @if($reverse-x){ right: $x; }
  @elseif($x)    { left:  $x; }
  @if($reverse-y){ bottom: $y; }
  @elseif($y)    { top:  $y; }
}

@mixin no-wrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}