// mixins & variables
@import "../additions/_mixins";
@import "../_colors";

// Framework
@import "../additions/reset";
@import "../default";
@import "../additions/framework";

// Style sets
@import "../sets/button";
@import "../sets/field";
@import "../sets/notification";
@import "../sets/typography";

$bg: #EEE;
#content{
  @include full-screen;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg;
  padding: 0 15px;
}

#login-form{
  width: 360px;
  padding: 25px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(0,0,0,.05);

  .form-title{
    margin-bottom: 25px;
  }

  .remind-password-link{
    color: transparentize($blue-color, .5);
    text-decoration: none;
    margin-top: 13px;

    &:hover{
      color: $blue-color;
    }
  }
}