@import "../additions/reset";
@import "../default";

@import "../sets/button";

@import "../additions/mixins";

#wrap{
  @include full-screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  margin: 15px;
}

.error-code{
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  color: #F00;

  .code{
    color: #AAA;
  }
}

.error-text{
  font-size: 12px;
  margin: -5px 0 15px 2px;
}

.solutions{
  margin-top: 25px;
  text-align: right;

  .home{
    margin-left: 15px;
  }
}